body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.side-bar {
    background-color: #000;
    width: 340px;
    border-radius: 1rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    overflow: auto;
    border-radius: 1rem;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover {
    opacity: 1;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.nav-option i {
    font-size: 1.25rem;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;
}

.box {
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
    margin: 0.5rem 0;
    font-weight: 500;
}

.box-p1 {
    font-size: 1rem;
}

.box-p2 {
    font-size: 0.85rem;
    opacity: 0.8;
}

.main-content {
    margin-left: 0.5rem;
    padding: 0 1rem;
}

.badge {
    border: none;
    background-color: #fff;
    border-radius: 100px;
    color: #000;
    font-weight: 700;
    height: 2rem;
    margin-top: 0.5rem;
    width: fit-content;
}

.dark-badge {
    background-color: #000;
    color: #fff;
}

.sticky-nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    padding: 0.5rem 0;
}

.sticky-nav-badges {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-nav-badges button, .sticky-nav-badges>i {
    margin-right: 1rem;
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #171717;
    width: 17rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
}

.card-img {
    border-radius: 0.3rem;
    width: 100%;
}

.card-title {
    font-weight: 500;
    font-size: 1.5rem;
}

.card-info {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.65);
    line-height: 1.75rem;
}

.footer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 30%;
    width: 90%;
    border-top: 1px solid white;
    opacity: 0.2;
}