body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
}

.side-bar {
    background-color: #121212;
    width: 340px;
    border-radius: 1rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    overflow: auto;
    border-radius: 1rem;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}